@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #4070f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer {
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  background-color: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  height: 70px;
  margin-bottom: 100px;
}


.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navLogo img {
  height: 50px;
}

.scrolled {
  background: #8f447cc2;
  transition: background 500ms;
}

@media screen and (max-width: 600px) {
  .navbar li {
    margin: 20px 0;
  }
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.navbar ul li {
  position: relative;
  float: left;
}

.navbar ul li p {
  font-size: 1rem;
  padding: 10px 20px;
  color: white;
  display: block;
  transition: all 1s;
  margin-bottom: 0;
}

.navbar ul li p:hover {
  color: #000000;
  border-radius: 50px;
}

#menu-bar {
  display: none;
}

.navContainer label {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 800px) {
  .navContainer {
    height: 70px;
  }

  .navContainer label {
    display: initial;
  }

  .navContainer label img {
    margin-top: 5px;
    height: 30px;
  }

  .navContainer .navbar {
    position: fixed;
    top: 70px;
    left: -100%;
    text-align: center;
    background: #2b0054;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    transition: all 0.3s ease;
    width: 100%;
    height: 100vh;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li p {
    color: white;
  }

  .navbar ul li p:hover {
    transform: translateY(-1px);
    color: #44e0f7;
    border-bottom: none;
  }

  .navbar ul li {
    width: 100%;
  }

  #menu-bar:checked ~ .navbar {
    left: 0;
  }
}

@media (max-width: 850px) {
  .navbar ul li p {
    font-size: 0.9rem;
    padding: 10px 10px;
  }
}

.dir {
  position: relative;
  bottom: 640px;
  font-size: 40px;
}

@media screen and (max-width: 600px) {
  .navbar li {
    margin: 20px 0;
  }
}

.scrolled {
  background-color: #2b0054e1;
}

.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 15px 0;
  margin-top:15px;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

