@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  overflow-x: hidden;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.navContainer {
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  background-color: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  height: 70px;
  margin-bottom: 100px;
}

.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.navLogo img {
  height: 50px;
}

.scrolled {
  background: #8f447cc2;
  transition: background 500ms;
}

@media screen and (max-width: 600px) {
  .navbar li {
    margin: 20px 0;
  }
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.navbar ul li {
  position: relative;
  float: left;
}

.navbar ul li p {
  font-size: 1rem;
  padding: 10px 20px;
  color: white;
  display: block;
  transition: all 1s;
  margin-bottom: 0;
}

.navbar ul li p:hover {
  color: #000000;
  border-radius: 50px;
}

#menu-bar {
  display: none;
}

.navContainer label {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 800px) {
  .navContainer {
    height: 70px;
  }

  .navContainer label {
    display: initial;
  }

  .navContainer label img {
    margin-top: 5px;
    height: 30px;
  }

  .navContainer .navbar {
    position: fixed;
    top: 70px;
    left: -100%;
    text-align: center;
    background: #2b0054;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    transition: all 0.3s ease;
    width: 100%;
    height: 100vh;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li p {
    color: white;
  }

  .navbar ul li p:hover {
    transform: translateY(-1px);
    color: #44e0f7;
    border-bottom: none;
  }

  .navbar ul li {
    width: 100%;
  }

  #menu-bar:checked ~ .navbar {
    left: 0;
  }
}

@media (max-width: 850px) {
  .navbar ul li p {
    font-size: 0.9rem;
    padding: 10px 10px;
  }
}

.dir {
  position: relative;
  bottom: 640px;
  font-size: 40px;
}

@media screen and (max-width: 600px) {
  .navbar li {
    margin: 20px 0;
  }
}

.scrolled {
  background-color: #2b0054e1;
}




.paralax {
  position: absolute;
  height: 100%;
}

.paralax-item {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.p-item1 {
  background: url('../assets/landing/hiker-min.png') center/cover no-repeat;
}


.container {
  position: relative;
  z-index: 0;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 40vh;
}

.content-header {
  font-family: 'Neucha', cursive;
  font-family: sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-right: -10%;
}

.content-header h1 {
  font-size: 120px;
  font-weight: 600;
  color: white;
  margin-bottom: -40px;
}

.content-header h2 {
  font-size: 40px;
  font-weight: 500;
  color: white;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;
  height: 900px;
  margin-right: 40px;
  background-color: none;
  color: white;
  position: center;
  font-family: 'Quicksand', sans-serif;
}

.content ul {
  list-style: none;
}

.loader {
  position: absolute;
  top: -4%;
  left: 55%;
  width: 320px;
  color: #ffffff !important;
  font-size: 90px !important;
  font-family: 'Neucha', cursive;
  font-weight: 700;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  margin-bottom: 15% !important;
  text-shadow: 0 0 5px #b5dbf0, 0 0 10px #93109c, 0 0 21px #e7a084;
}

.sub {
  position: relative;
  bottom: 145px;
  font-size: 27px !important;
}

@media (min-width: 950px) and(max-width :1600px) {
  .loader {
    position: absolute;
    top: -5%;
    font-size: 100px !important;
  }

  .sub {
    position: relative;
    /* bottom: 60px; */
    font-size: 15px !important;
  }
}

#PopUp {
  z-index: 1500;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 50%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

#PopUp .PopUp-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#PopUp .PopUp-content h3 {
  font-family: 'Neucha', cursive;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  padding: 30px 0;
  font-size: 2.5rem;
  text-shadow: 0 0 5px #b8a1da, 0 0 10px #f5a3e6, 0 0 21px #f67ee1;
}

#PopUp .PopUp-content p {
  font-size: 1.2rem;
}

#PopUp .PopUp-content button {
  background-color: #2c0057;
  font-family: 'Neucha', cursive;
  font-weight: 700;
  color: white;
  border: none;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}

#PopUp .PopUp-content button:hover {
  background-color: #470886;
}

@media screen and (max-width: 768px) {
  #PopUp {
    width: 80%;
  }
}

.close-button {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.close-button:hover {
  transform: scale(1.05);
  transform: translateY(-1px);
}

@media (min-width: 760px) and (max-width: 949px) {
  .content-header {
    margin-right: -210px;
  }
}

@media (min-width: 760px) and(max-width :949px) {
  .loader {
    position: absolute;
    top: -5%;
    text-align: left !important;
    font-size: 60px !important;
  }

  .sub {
    font-size: 15px !important;
  }

  .content-header {
    margin-right: -210px;
  }
}

@media (min-width: 746px) and(max-width :760px) {
  .loader {
    position: absolute;
    top: -5%;
    font-size: 50px !important;
  }

  .sub {
    font-size: 15px !important;
  }
}

@media (max-width: 745px) {
  .loader {
    position: absolute;
    top: -4%;
    left: 50%;
    font-size: 53px !important;
  }

  .sub {
    font-size: 15px !important;
    position: relative;
    right: 5%;
  }
}

@media (max-width: 345px) {
  .loader {
    position: absolute;
    top: -5%;
    left: 70%;
    font-size: 35px !important;
  }

  .sub {
    font-size: 15px !important;
    position: relative;
    left: 6%;
    /* bottom: 10% !important; */
  }
}

.container {
  font: size 26px;
  width: 100%;
}

@media (max-width: 767px) {
  /* Mobile & Tablet Rules */
  .visible-xs {
    display: block !important;
  }

  .content {
    margin-left: 60px;
  }

  .hidden-xs {
    display: none !important;
  }

  .responsive-paragraph {
    font-size: 17px !important;
    color: rgb(255, 255, 255);
    letter-spacing: 0.6px;
    margin: 0px 0px;
    width: 70%;
    text-align: left !important;
    margin-right: 20%;
    position: relative;
    top: 20% !important;
    margin-bottom: 5%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Small Screen Rules */
  .container {
    width: 750px;
  }

  .visible-sm {
    display: block !important;
  }

  .hidden-sm {
    display: none !important;
  }

  .responsive-paragraph {
    text-align: center;
    font-size: 25px !important;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    text-align: left;
    width: 85%;
    margin-right: 20%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Medium Screen Rules */
  .container {
    width: 970px;
  }

  .visible-md {
    display: block !important;
  }

  .hidden-md {
    display: none !important;
  }

  .responsive-paragraph {
    font-size: 24px !important;
    color: rgb(218, 25, 25);
    letter-spacing: 1.1px;
    text-align: left;
    width: 85%;
    margin-right: 20%;
  }
}

@media (min-width: 1200px) {
  /* Large Screen Rules */
  .container {
    width: 1170px;
  }

  .visible-lg {
    display: block !important;
  }

  .hidden-lg {
    display: none !important;
  }

  .container {
    font-size: 25px !important;
    color: rgb(0, 0, 0);
    letter-spacing: 0.6px;
    width: 90%;
    padding-left: 80px;
    text-align: left;
    margin-right: 20%;
  }

  .content-header {
    margin-right: -20%;
  }
}

footer {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 100px;
  padding: 341px 508px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10px;
  padding-top: 50px;
  padding-bottom: 76px;
}

footer {
  position: relative;
  width: 100%;
  /* background: #0e0e7dec; */
  /* min-height: 100px; */
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 3;
}

footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  filter: drop-shadow(5px 5px 5px rgb(10, 10, 10));
}

footer .social_icon li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2.5em;
  color: rgb(255, 253, 253);
  margin: 0 20px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
  color: #ff72be !important;
  border-radius: 7px;
  padding-bottom: 1px;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 1px;
  opacity: 1;
}


a.active,
a:hover {
  background: transparent;
  transition: 0.5s;
}
