
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
}
.navContainer {
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    background-color: transparent;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2000;
    height: 70px;
    margin-bottom: 100px;
  }
  
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navLogo img {
    height: 50px;
  }
  
  .scrolled {
    background: #8f447cc2;
    transition: background 500ms;
  }
  
  @media screen and (max-width: 600px) {
    .navbar li {
      margin: 20px 0;
    }
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  
  .navbar ul li {
    position: relative;
    float: left;
  }
  
  .navbar ul li p {
    font-size: 1rem;
    padding: 10px 20px;
    color: white;
    display: block;
    transition: all 1s;
    margin-bottom: 0;
  }
  
  .navbar ul li p:hover {
    color: #000000;
    border-radius: 50px;
  }
  
  #menu-bar {
    display: none;
  }
  
  .navContainer label {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 800px) {
    .navContainer {
      height: 70px;
    }
  
    .navContainer label {
      display: initial;
    }
  
    .navContainer label img {
      margin-top: 5px;
      height: 30px;
    }
  
    .navContainer .navbar {
      position: fixed;
      top: 70px;
      left: -100%;
      text-align: center;
      background: #2b0054;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
      transition: all 0.3s ease;
      width: 100%;
      height: 100vh;
    }
  
    .navbar ul {
      flex-direction: column;
    }
  
    .navbar ul li p {
      color: white;
    }
  
    .navbar ul li p:hover {
      transform: translateY(-1px);
      color: #44e0f7;
      border-bottom: none;
    }
  
    .navbar ul li {
      width: 100%;
    }
  
    #menu-bar:checked ~ .navbar {
      left: 0;
    }
  }
  
  @media (max-width: 850px) {
    .navbar ul li p {
      font-size: 0.9rem;
      padding: 10px 10px;
    }
  }
  
  .dir {
    position: relative;
    bottom: 640px;
    font-size: 40px;
  }
  
  @media screen and (max-width: 600px) {
    .navbar li {
      margin: 20px 0;
    }
  }
  
  .scrolled {
    background-color: #2b0054e1;
  }
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 80px 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    height: 350px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field select:focus,
.input-field input[type="text"]:focus
{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
.input-field select:focus,
.input-field input[type="number"]:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}
